@import url(_reset.css);
@import url(_variaveis.css);

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;600;700;900&display=swap');

body{
  /* background: linear-gradient(45deg, #a7cfdf 0%,#23538a 50%); */
  /* background-color: #23538a; */
  background-color: var(--color-body);
  font-family:  'Montserrat', sans-serif;
  font-weight: 600;
}

/* ===================================================================== */
/* ==============================CABEÇALHO============================== */
/* ===================================================================== */

header{
  height: 60px;
  padding-top: 10px;
}
header section{
  width: 90%;
  margin-left: calc(50% - 45%);
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: var(--color-fonte);
}
.logo{
  width: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.logo img{
  display: inline;
  width: 50px;
  height: auto;
}
.logo h1{
  font-size: 40px;
  display: inline;
  text-decoration: underline;
}
nav a{
  text-decoration: none; 
}
nav a:hover{
  text-decoration: underline;
}
nav li{
  display: inline;
  font-size: 1.1rem;
  margin: 0 10px;
}
.acesso a{
  text-decoration: none;
}
.acesso a:hover{
  text-decoration: underline;
}

.container{
  display: flex;
  background-color: var(--color-div);
  width: 100%;
  height: 527px;
}

.flex {
	display: flex;
}

.flex--centro {
	align-items: center;
	justify-content: center;
}

.flex--coluna {
	flex-direction: column;
}


