.font-color{
  color: #007bff !important;
} .font-white{
  color: #ffffff;
}
.font-family{
  font-family: 'Montserrat', sans-serif;
}
.logo{
  font-weight: 600;
  font-size: 35px;
}
.color-div{
  background-color: #dddddd;
}
.color-div-2{
  background-color: #24444d;
}
.border-color{
  border-color: #007bff !important;
}
.font-600{
  font-weight: 600;
}
.font-400{
  font-weight: 400;
}
.icons{
  height: 70px;
  width: 70px;
}
.img-card{
  width: 100%;
  height: 50%;
}