
@import url(../css/reset.css);
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;600;700;900&display=swap');

/* ===================================================================== */
/* ==============================cabeçalho============================== */
/* ===================================================================== */
body{
  background: linear-gradient(45deg, #a7cfdf 0%,#23538a 50%);
  font-family:  'Montserrat', sans-serif;
  font-weight: 600;
}
header{
  height: 60px;
}
header section{
  width: 90%;
  margin-left: calc(50% - 45%);
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.logo{
  width: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.logo img{
  display: inline;
  width: 60px;
  height: auto;
}
.logo h1{
  color: #007bff;
  font-size: 50px;
  display: inline;
  text-decoration: underline;
}
nav a{
  color: #007bff;
  text-decoration: none;
}
nav a:hover{
  text-decoration: underline;
}
nav li{
  display: inline;
  font-size: 20px;
  margin: 0 10px;
}
.acesso a{
  font-size: 25px;
  margin: 0 30px;
  color: #007bff;
  text-decoration: none;
}
.acesso a:hover{
  text-decoration: underline;
}

/* =============================================conteúdo=============================================== */

main{
  height: calc(100vh - 95px);
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.register-form{
  width: 400px;
  margin: 0 auto;
  margin-top: -10px;
  padding: 0 20px 10px 20px;
  box-shadow: -10px 10px 10px rgba(255, 255, 255, 0.2);
  border-radius: 10px;
}
.register-form h1{
  color: #ffffff;
  text-align: center;
  font-size: 45px;
  margin-bottom: 20px;
}
.register-form label{
 color: #ffffff;
}
.register-form label, input{
  display: block;
}
.register-form input{
  width: 390px;
  height: 40px;
  text-align: center;
  color: #ffffff;
  margin-bottom: 10px;
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.6);
}
#send-form{
  width: 300px;
  margin: 0 auto;  
}
#send-form:hover{
 width: 405px;
}
.register-form input::placeholder{
 color: #ffffff;
}
form a{
  display: block;
  color: #ffffff;
  margin: 20px 0;
  text-decoration: none;
  font-size: 20px;
}
form a:hover{
  text-decoration: underline;
}

/* =================================================rodapé============================================== */

footer{
  color: #ffffff;
  height: 35px;
  /* text-align: center; */
  /* padding-top: 30PX; */
  display: flex;
  justify-content: center;
  align-items: center;
}