*{
    margin: 0;
    padding: 0;
}
body{
    background-image: url(../midea/home1.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
}
header{
    height: 120px;
    /*background-color: #8ed1fc;*/
    display: flex;
}
#logo{
    /*border: 2px solid brown;*/
    width: 100%;
    margin-left: 100px;
    height: 100%;
    color:#ffffff;
}
#cred{
    color: #007bff;
}
header h1{
    font-size: 100px;
    position: relative;
    bottom: 10px;
}
header p{
    font-size: 30px;
    position: relative;
    top: -30px;
}
header a:hover{
    text-decoration: underline;
    height: 25px;
    width: 100px;
}
header a{
    text-align: center;
    margin-top: 45px;
    margin-right: 10%;
    /*border: 1px solid rgba(0, 123, 255, 0.5) /*63c731*/;
    padding: 10px 20px 8px 20px;
    background-color: rgba(0, 123, 255, 0.1);
    box-shadow: 10px 10px 10px rgba(255, 255, 255, 0.2);
    height: 25px;
    border-radius: 10px;
    font-size: 20px;
    text-decoration: none;
    color: #ffffff;
}
main{
    height: calc(100vh - 160px);
    width: 100%;
    /*display: flex;*/
    /*background-color:#63c731 /*#8ed1fc;*/    
}
.conteiner{
    display: flex;
    height: 50%;
}
.conteiner-a, .conteiner-b{
    height: 100%;
    width: 50%;
    color: #ffffff;
    font-size: 30px;
    text-align: center;
}
.conteiner-a{
    
    
}
#apertaram{
    font-size: 65px;
    margin-top: 60px;
}
.conteiner-a p{
    
}
/*.conteiner-b{
    background-image: url(../midia/Repertorio-social.png);
    background-size: 100%;
}*/
.conteiner-c{
    display: flex;
    padding: 10px 200px;
}
.conteiner-c div{
    width: 300px;
    /*border: 1px solid rgba(255, 255, 255, 0.3);*/
    border-radius: 20px;
    text-align: center;
    padding: 15px 10px 30px 10px;
    margin: 0 50px;
    background-color: rgba(230, 230, 230, 0.2);
    color: #ffffff;
    box-shadow: 10px 10px 10px rgba(255, 255, 255, 0.2);

}
.conteiner-c h2{
    margin: 20px 0;
    font-size: 20px;
    color: #007bff;
}
footer{
    color: #ffffff;
    height: 30px;
    /*background-image: url(../midia/bg.jpg);*/
    text-align: center;
    padding-top: 10PX;
}
