*{
  margin: 0;
  padding: 0;
}
body{
  background-image: url(../midea/home1.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
}
header{
  height: 120px;
  display: flex;
}
#logo{
  width: 100%;
  margin-left: 100px;
  height: 100%;
  color:#ffffff;
}
#cred{
  color: #007bff;
}
header h1{
  font-size: 100px;
  position: relative;
  bottom: 10px;
}
header p{
  font-size: 30px;
  position: relative;
  top: -30px;
}
header a{
  text-decoration: none;
  color: #ffffff;
}
.login-form{
  width: 300px;
  padding: 20px;
  text-align: center;
  background: url(bg.png);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  overflow: hidden;
}
.login-form h1{
  margin-top: 100px;
  color: #fff;
  font-size: 50px;
}
.login-form input{
  display: block;
  width: 100%;
  padding: 0 16px;
  height: 44px;
  text-align: center;
  box-sizing: border-box;
  outline: none;
  border: none;
  font-family: "montserrat",sans-serif;
}
.txtb{
  margin: 20px 0;
  background: rgba(0,123,255,.3);
  border-radius: 6px;
  color: #ffffff;
}
.login-btn{
  margin-top: 60px;
  margin-bottom: 20px;
  background: #365fff;
  color: #fff;
  border-radius: 44px;
  cursor: pointer;
  transition: 0.8s;
}
.loginlogin-btn:hover{
  transform: scale(0.96);
}
.login-form a{
  text-decoration: none;
  color: #fff;
  font-size: 14px;
  padding: 10px;
  transition: 0.8s;
  display: block;
}
.login-form a:hover{
  background: rgba(0,0,0,.3);
}
