.botao {
    display: block;
    color: var(--color-fonte);
    font-size: 1.1rem;
    border: 0.15rem solid var(--color-fonte);
    border-radius: 10px;
    height: 2.2rem;
    width: 100%;
    margin-top: 1rem;
    box-sizing: border-box;
    align-self: center;
    text-align: center;
}
.link{
    color: var(--color-fonte);
    border: 0.15rem solid var(--color-fonte);
    font-size: 1.1rem;
    padding: 0.6rem;
    border-radius: 10px;
  }