.botao {
    display: block;
    background-color: #23538a;
    border-radius: 7px;
    height: 35px;
    width: 100%;
    margin-top: 1rem;
    box-sizing: border-box;
    align-self: center;
    text-align: center;
}