
@import url('../css/reset.css');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;600;700;900&display=swap');

body{
    background: linear-gradient(45deg, #a7cfdf 0%,#23538a 50%);
    font-family:  'Montserrat', sans-serif;
    font-weight: 600;
}

/* ===================================================================== */
/* ==============================CABEÇALHO============================== */
/* ===================================================================== */
header{
    height: 60px;
}
header section{
    width: 90%;
    margin-left: calc(50% - 45%);
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.logo{
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo img{
    display: inline;
    width: 60px;
    height: auto;
}
.logo h1{
    color: #007bff;
    font-size: 50px;
    font-weight: 900;
    display: inline;
    text-decoration: underline;
}
nav a{
    font-weight: 600;
    color: #007bff;
    text-decoration: none;
}
nav a:hover{
    text-decoration: underline;
}
nav li{
    display: inline;
    font-size: 20px;
    margin: 0 10px;
}

/* ==================================================================== */
/* ==============================CONTEÚDO============================== */
/* ==================================================================== */

main{
    display: flex;
    justify-content: center;
    width: 100%;
}
.formulario {
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 10px;
    width: 100%;
    max-width: 37rem;
    padding: 1.75rem;
    box-sizing: border-box;
    margin-bottom: 1rem;
    margin-top: 2rem;
}
.formulario-titulo {
    font-size: 30px;
    margin-bottom: 1rem;
    text-align: center;
}
.formulario-legenda {
    font-size: 20px;
    margin-bottom: 1rem;
    font-weight: 600;
}
.input-container {
    font-weight: 400;
    position: relative;
    margin-bottom: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    box-sizing: border-box;
}
.input {
    box-sizing: border-box;
    border: none;
    border-bottom: 1px solid black;
    background-color: transparent;
    padding: 1.375rem 0.5rem 0.5rem;
    height: 3.25rem;
    width: 100%;
}
.input::placeholder {   /*escondendo o placeholder*/
    visibility: hidden;
}
.input:focus {
    outline: none;
}
.input-label {              /*deixando o label dentro do input e dizendo o tempo de transição quando ele subir*/
    position: absolute;
    top: 1.5rem;
    left: 0.5rem;
    transition: .25s;
}

.input:focus ~ .input-label,  /*quando estiver em foco e for valido vai ficar nessa posição*/
.input:valid ~ .input-label{
    transform: translateY(-5px);
    font-size: 0.875rem;
    top: 00.25rem;
}
#nascimento ~ .input-label{     /*deixando o texto da label na parte superior do input*/
    transform: translateY(-25px);
}
.input-container i{     /*posicionando o icone dentor do input e ocultando ele*/
    position: absolute;
    top: 20px;
    right: 30px;
    visibility: hidden;
}
.input-container--valido .input {
    border-bottom: 3px solid #0dbb2c;
}
.input-container--valido i .img-valido{
    visibility: visible;
}
.input-container--invalido .input{
    border-bottom: 3px solid #dd0909;
}
.input-container--invalido i .img-invalido{
    visibility: visible;
}
.input-mensagem-erro {
    display: none;
}

.input-container--invalido .input-mensagem-erro {
    color: #dd0909;
    display: block;
    margin-top: 0.2rem;
    padding-left: 0.5rem;
}

.botao {
    display: block;
    background-color: #007bff;
    border-radius: 10px;
    width: 90%;
    margin-top: 10px;
    margin-left: calc(50% - 45%);
    /* max-width: 20rem; */
    padding: 5px;
    box-sizing: border-box;
    font-family:  'Montserrat', sans-serif;
    font-weight: 600;
}

/* ================================================================== */
/* ==============================RODAPÉ============================== */
/* ================================================================== */

footer{
    color: #007BFF;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
}